*, *:after, *:before {
    box-sizing: border-box;
}

body { 
    font-family: sans-serif;
    font-size: 10px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background: #333333;
}

.main-page {
    max-width: 960px;
    margin: 0 auto;
    background: #fff;
}

.menu {
    width: auto;
    background: #5a5a5a;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul  li {
    float: left;
}

.menu ul  li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 20px;
    display: block;
}

.wrap {
    padding: 30px;
}

.form-table {
    margin: 0 0 1.3em 0;
}

.form-table th, 
.form-table td,
.list-table th,
.list-table td {
    padding: 5px;
}

.error, .form_error {
    font-size: 12px !important;
    color: red !important;
}

.alert {
    background: yellow;
    color: red;
    padding: 5px;
}

.success {
    font-size: 12px !important;
    color: green !important;
}

.clearfix:after {
    content: '.';
    width: auto;
    height: 0;
    line-height: 0;
    overflow: hidden;
    display: block;
    clear: both;
    visibility: hidden;
}

img {
    max-width: 100%;
    height: auto;
}
table.table-style-one {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #3A3A3A;
    border-collapse: collapse;
}
table.table-style-one th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #3A3A3A;
    background-color: #FFFFFF;
}
table.table-style-one td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #3A3A3A;
    background-color: #ffffff;
}

table.table-style-one {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#ffffff;
    border-width: 1px;
    border-color: #3A3A3A;
    border-collapse: collapse;
}
table.table-style-one th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #3A3A3A;
    background-color: #dd4444;
}
table.table-style-one td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    color: #000000;
    border-color: #3A3A3A;
    background-color: #ffffff;
}

input[type=text], select {
    padding: 4px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    padding: 4px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #dd4444;
    color: white;
    padding: 5px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.push-right{
    float: right;
}

button {
    background-color: #dd4444;
    color: white;
    padding: 5px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: #dd4444;
}